body {
    background-image: url("try.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    column-count: 4;
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px;

}

@media screen and (max-width: 1024px) {
    .container {
        column-count: 3;
    }
    
}

@media screen and (max-width: 640px) {
    .container {
        column-count: 2;
    }

}

@media screen and (max-width: 375px) {
    .container {
        column-count: 1;
    }

}
img:hover {
    transform: scale(1.15);
    transition: .3s;

}